In [1]:
# Import the dependencies.
import pandas as pd
import gmaps 
import requests
import ipywidgets as widgets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2021-05-29 20:00:15,71.6872,128.8694,31.50,97,86,9.28
1,1,Vaini,TO,2021-05-29 20:00:18,-21.2000,-175.2000,76.15,85,98,14.67
2,2,San Francisco,US,2021-05-29 20:05:05,37.7749,-122.4194,79.14,77,75,5.01
3,3,Ilhabela,BR,2021-05-29 20:01:44,-23.7781,-45.3581,82.87,59,83,5.82
4,4,Ribeira Grande,PT,2021-05-29 20:00:37,38.5167,-28.7000,66.60,77,75,4.61

In [3]:
# Get the data types.
city_data_df.dtypes

City Id         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
#Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2021-05-29 20:00:18,-21.2000,-175.2000,76.15,85,98,14.67
2,2,San Francisco,US,2021-05-29 20:05:05,37.7749,-122.4194,79.14,77,75,5.01
3,3,Ilhabela,BR,2021-05-29 20:01:44,-23.7781,-45.3581,82.87,59,83,5.82
5,5,Lorengau,PG,2021-05-29 20:01:11,-2.0226,147.2712,81.88,80,38,12.21
9,9,Avarua,CK,2021-05-29 20:00:13,-21.2078,-159.7750,77.05,61,16,3.44
12,12,Hilo,US,2021-05-29 20:00:06,19.7297,-155.0900,78.80,65,1,3.44
13,13,Rikitea,PF,2021-05-29 20:00:16,-23.1203,-134.9692,77.22,86,91,19.98
14,14,Port Blair,IN,2021-05-29 20:06:33,11.6667,92.7500,81.07,84,100,6.04
15,15,Guymon,US,2021-05-29 20:06:33,36.6828,-101.4816,76.95,53,20,17.27
21,21,Butaritari,KI,2021-05-29 20:00:18,3.0707,172.7902,82.45,79,100,15.73

In [13]:
preferred_cities_df.count()

City Id       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Vaini      TO     76.15 -21.2000 -175.2000
2   San Francisco      US     79.14  37.7749 -122.4194
3        Ilhabela      BR     82.87 -23.7781  -45.3581
5        Lorengau      PG     81.88  -2.0226  147.2712
9          Avarua      CK     77.05 -21.2078 -159.7750
12           Hilo      US     78.80  19.7297 -155.0900
13        Rikitea      PF     77.22 -23.1203 -134.9692
14     Port Blair      IN     81.07  11.6667   92.7500
15         Guymon      US     76.95  36.6828 -101.4816
21     Butaritari      KI     82.45   3.0707  172.7902

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
    
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,76.15,-21.2000,-175.2000,Keleti Beach Resort
2,San Francisco,US,79.14,37.7749,-122.4194,The Clift Royal Sonesta Hotel
3,Ilhabela,BR,82.87,-23.7781,-45.3581,Ilha Flat Hotel
5,Lorengau,PG,81.88,-2.0226,147.2712,Lorengau Harbourside Hotel
9,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...
544,Rangia,IN,79.38,26.4667,91.6333,Kalita Tours & Travels
546,Cortez,US,85.51,37.3489,-108.5859,Sand Canyon National 9 Inn
556,Dhekiajuli,IN,76.66,26.7000,92.5000,LOKD Girls' Hostel
558,Rio Brilhante,BR,89.83,-21.8019,-54.5464,Hotel Cattani
560,Lufilufi,WS,82.29,-13.8745,-171.5986,Leuaina Beach Resort and Spa

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))